/*Footer CSS
--------------------------------------------------------------------------------------------------*/
.footer{text-align:center; padding:20px 0; color:#ed1c24; font-weight:300; font-size:13px; background:url(/assets/images/footer-bg.jpg) 0 0 repeat-x #fff;}

