<ion-content>
  <app-header></app-header>

  <section class="main_area product_details_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <div class="product_image_box">


            <div class="exzoom clearfix" id="exzoom">
              <div class="exzoom_img_box">
                <ul class='exzoom_img_ul'>
                  <li><img src="{{image_path + product_deltail?.product_picture}}" /></li>
                  <!-- <li><img src="assets/images/product-details1.png" /></li>
                  <li><img src="assets/images/product-details1.png" /></li>
                  <li><img src="assets/images/product-details1.png" /></li> -->
                </ul>
              </div>
              <div class="exzoom_nav"></div>
              <p class="exzoom_btn">
                <a href="javascript:void(0);" class="exzoom_prev_btn"><i class="fa fa-angle-up"
                    aria-hidden="true"></i></a>
                <a href="javascript:void(0);" class="exzoom_next_btn"><i class="fa fa-angle-down"
                    aria-hidden="true"></i></a>
              </p>
            </div>

          </div>

        </div>
        <div class="col-lg-6">
          <div class="product_details_contain">
            <div class="contain_box">
              <h1>
                {{product_deltail?.product_name}}
                <strong>Auction : {{groupdetails?.auction_cg_number}}</strong>
              </h1>
            </div>
            <div class="contain_box">
              <h3>max bid : <strong>{{maxbidamt}}</strong></h3>
               <h3>Bidder : <strong></strong></h3>
              <h4><strong style="color: #0e0790">Auction status  : </strong> <strong id="demo" ></strong></h4>
              <h4><strong>End Date & Time :</strong>{{groupdetails?.end_date | date:'MMM dd, yyyy'  + '     ' + groupdetails?.end_time}}</h4>
              <h4><strong>Location :</strong> {{product_deltail?.product_location}}</h4>
            </div>
            <div class="contain_box">
              <h5>highlights :</h5>
              <p>{{product_deltail?.product_important_highlights}}
              </p>
              <div *ngIf="buyerId">
                <a *ngIf="bid_status==1" href="javascript:void(0);" class="btn btn-primary"  (click)="triggerModal(modalData)">bid now <i class="zmdi zmdi-plus-circle"></i></a>
              </div>
               <div *ngIf="!buyerId">
              <a *ngIf="bid_status==1" href="javascript:void(0);" [routerLink]="['/login']" class="btn btn-primary"  >Login to bid <i class="zmdi zmdi-plus-circle"></i></a>
            </div>
            </div>
          </div>
        </div>
        <ng-template #modalData let-modal >
  <div class="modal-header" style="background: #3092A6;
    border-radius: 5px 5px 0 0;
    color: #FFF;">
    <h4 class="modal-title" id="modal-basic-title">Your Bid</h4>
   <!--  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button> -->
  </div>
  <div class="modal-body text-center" id="modalBody_Text"><span style="font-size:1.5rem;margin-bottom:15px;">Your Bid Will Be</span> <br> <span style="font-weight:bold;font-size:1.5rem;">{{product_deltail?.product_bid_starting_price}}!</span> <br><br> Pickup Location: <strong>{{product_deltail?.product_location}}</strong> <br> Are you sure?</div>
  <table align="center">
          <tbody><tr>
            <td>
              <div class="text-center modal-footer m-t-10">
                <button type="button" class="btn btn-primary" (click)="bidNow(product_deltail)">YES</button>
                  <button type="button" class="btn btn-default" (click)="modal.close('Save click')">NO</button>
                </div>
              </td>
            </tr>
        </tbody></table>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div> -->
</ng-template>

        <div class="col-lg-12">

          <div class="product_description_area">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">acution terms</a>
              </li>
             <!--  <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">bid increment</a>
              </li> -->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div id="home" class="tab-pane active">
                <div class="product_description">
                   <p [innerHtml]="groupdetails?.product_long_description"></p>
                
                </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                <div class="product_description">
                  <p [innerHtml]="groupdetails?.terms"></p>
                </div>
              </div>
              <!-- <div id="menu2" class="tab-pane fade">
                <div class="product_description">
                  
                </div>
              </div> -->
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>
  <!------- product details area stop -------->


  <!----- product listing two area start ----->
  <section class="main_area product_listing_area mt-0">
    <div class="container">
      <h2 class="h2 mb-2"><strong>Related Auctions</strong></h2>
      <owl-carousel [options]="carouselOptions" [carouselClasses]="['product-carousel']">
        <div class="product" *ngFor="let image of images;let i= index">
          <div class="product_box">
            <div class="image_box">
              <img src="{{image.image}}" alt="product" title="" [routerLink]="['/product-details']">
            </div>
            <div class="contain_box">
              <h4>Auction ID. BB31470</h4>
              <a [routerLink]="['/product-details']" routerLinkActive="active" class="link">OnePlus Band 1.1'' AMOLED Display</a>
              <h3>Max Bid: $150.00</h3>
              <button class="btn btn-bid" [routerLink]="['/product-details']">bid now <i class="zmdi zmdi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>