<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->


<app-user-header></app-user-header>  
<ion-content>

  <div class="site-content-contain-wrapper clearfix">
    <!-- <app-seller-side-nav></app-seller-side-nav> -->
    <!--Left Panel Start-->
    <!-- <div class="left-panelbg"></div>
    <aside id="left-panel">
      <nav class="leftmenu">

        <ul>
          <li class="active"><a href="dashboard.html"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-user-o" aria-hidden="true"></i> Profile Details</a>
            <ul>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="javascript:void(0);">Change password</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0);"><i class="fa fa-product-hunt" aria-hidden="true"></i> Product Management</a>
            <ul>
              <li><a href="javascript:void(0);">Add Categories</a></li>
              <li><a href="javascript:void(0);">Add Products</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Details</a>
            <ul>
              <li><a href="javascript:void(0);">Bids Reports</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0);"><i class="fa fa-commenting-o" aria-hidden="true"></i> Customer Feedback</a>
          </li>
          <li><a href="javascript:void(0);"><i class="fa fa-comments-o" aria-hidden="true"></i> Chatbox</a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-credit-card" aria-hidden="true"></i> Pallet Auction</a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-credit-card" aria-hidden="true"></i> Payment Details</a>
          </li>
          <li><a href="javascript:void(0);"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
        </ul>
      </nav>
    </aside> -->
    <!--Left Panel End-->

    <!--Main Contaner Start-->

    <div id="main">
      <div class="site-content-contain">
        <div id="content" class="site-content">
          <div class="page-header clearfix">
            <h1 class="pull-left"><i class="icon fa fa-home" aria-hidden="true"></i> User dashboard</h1>
          </div>


          <div class="row">
            <div class="col-sm-4">
              <section class="widget-dashboard">
                <div class="icon"><img src="assets/images/packing.png" alt=""></div>
                <div class="top">
                  <h5>Total Auction</h5>
                  <h2>1020</h2>
                </div>
                <a href="#" class="btn-more">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </section>
            </div>
            <div class="col-sm-4">
              <section class="widget-dashboard wdred">
                <div class="icon"><img src="assets/images/wd-icon2.png" alt=""></div>
                <div class="top">
                  <h5>Expired Auction</h5>
                  <h2>20,500</h2>
                </div>
                <a href="#" class="btn-more">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </section>
            </div>
            <div class="col-sm-4">
              <section class="widget-dashboard wdblue">
                <div class="icon"><img src="assets/images/wd-icon3.png" alt=""></div>
                <div class="top">
                  <h5>Live Auction</h5>
                  <h2>0</h2>
                </div>
                <a href="#" class="btn-more">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </section>
            </div>
          </div>


          <!-- <div class="row">
            <div class="col-md-8">
              <h5>Customer Feedback</h5>
              <div class="well no-padding margin-bottom10">
                <div class="table-responsive no-margin">
                  <table class="table table-bordered no-margin">
                    <thead>
                      <tr>
                        <th>Order ID</th>
                        <th>Order ID</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>7594198637</td>
                      <td>4578963158</td>
                    </tr>
                    <tr>
                      <td>5879314892</td>
                      <td>8267196348</td>
                    </tr>
                    <tr>
                      <td>7594198637</td>
                      <td>4578963158</td>
                    </tr>
                    <tr>
                      <td>5879314892</td>
                      <td>9947463812</td>
                    </tr>
                    <tr>
                      <td>5879314892</td>
                      <td>8267196348</td>
                    </tr>
                  </table>
                </div>
              </div>
              <p><a href="#" class="btn-more">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
            </div>
            <div class="col-md-4">
              <h5>latest Auction</h5>
              <div class="well no-padding margin-bottom20">
                <div class="table-responsive no-margin">
                  <table class="table table-bordered no-margin">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Seller</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>Foxbro</td>
                      <td>Z158367</td>
                    </tr>
                    <tr>
                      <td>Avas</td>
                      <td>Z158367</td>
                    </tr>
                    <tr>
                      <td>Rozavel</td>
                      <td>Z158367</td>
                    </tr>
                    <tr>
                      <td>Doxinaet</td>
                      <td>Z158367</td>
                    </tr>
                    <tr>
                      <td>Foxbro</td>
                      <td>Z158367</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div> -->

          

        </div>
      </div>
    </div>

    <!--Main Contaner Start-->
  </div>
  
  <!-- <app-user-footer></app-user-footer> -->

</ion-content>