<!--Left Panel Start-->
<div class="left-panelbg"></div>
<aside id="left-panel">
	<nav class="leftmenu">

    	<ul>
        	<li class="active"><a href="dashboard.html"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
        	<li><a href="javascript:void(0);"><i class="fa fa-user-o" aria-hidden="true"></i> Profile Details</a>
            	<ul>
                	<li><a href="profile.html">Profile</a></li>
                	<li><a href="javascript:void(0);">Change password</a></li>             
                </ul>
            </li>
            <li><a href="javascript:void(0);"><i class="fa fa-product-hunt" aria-hidden="true"></i> Product Management</a>
            	<ul>
                	<li><a href="javascript:void(0);">Add Categories</a></li>
                	<li><a href="javascript:void(0);">Add Products</a></li>             
                </ul>
            </li>
            <li><a href="javascript:void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Details</a>
            	<ul>
                	<li><a href="javascript:void(0);">Bids Reports</a></li>            
                </ul>
            </li>
            <li><a href="javascript:void(0);"><i class="fa fa-commenting-o" aria-hidden="true"></i> Customer Feedback</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-comments-o" aria-hidden="true"></i> Chatbox</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-credit-card" aria-hidden="true"></i> Pallet Auction</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-credit-card" aria-hidden="true"></i> Payment Details</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
        	<!-- <li><a href="javascript:void(0)"><i class="fa fa-usd" aria-hidden="true"></i> Manage Orders</a>
            	<ul>
                	<li><a href="manage-invoice.html">Manage Invoices</a></li>
                	<li><a href="sales-repor.html">Sales Report</a></li>
                	<li><a href="overall-sales-report.html">Overall Sales Report</a></li>
                </ul>
            </li>
        	<li><a href="javascript:void(0)"><i class="fa fa-address-book-o" aria-hidden="true"></i> Manage Disputes as a Seller</a>
            	<ul>
                	<li><a href="#">View Disputes</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</aside>
<!--Left Panel End-->