<header class="header_area clearfix">
  <div class="header_top clearfix">
    <div class="container clearfix">
      <div class="header_top_left clearfix">
        <div class="logo" [routerLink]="['/']"><img src="assets/images/alexein.png" alt="alexein" title=""></div>
      </div>
      <div class="header_top_right clearfix">
        <div class="search_bar">
          <input type="text" class="form-control" placeholder="Search for anything...">
          <button class="btn btn-primary">search</button>
        </div>
        <div class="register_box" *ngIf="!buyerId">
          <img src="assets/images/user.png" alt="user" title="" class="icon">
          <p><a [routerLink]="['/registration']" routerLinkActive="active">Register</a></p>
          <p>or <a [routerLink]="['/login']" routerLinkActive="active" class="active">Log In</a></p>
        </div>
        <div class="register_box" *ngIf="buyerId">
          <img src="assets/images/user.png" alt="user" title="" class="icon">
          <p><a [routerLink]="['/user/profile']" routerLinkActive="active">{{buyerData.name}}'s Profile</a></p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="header_bottom clearfix">
    <div class="container clearfix">
      <div class="logo" [routerLink]="['/']">
        <img src="assets/images/flex-logo.png" alt="">
      </div>
      <a href="javascript:void(0);" class="all_category dropdown-toggle" data-toggle="dropdown">
        All Categories
        <img src="assets/images/nav-bar.png" alt="nav bar" class="icon" title="">
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Category One</a>
        <a class="dropdown-item" href="#">Category Two</a>
        <a class="dropdown-item" href="#">Category Three</a>
      </div>
      <nav class="menubox">
        <a class="btn-topmenu d-lg-none" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="top-menu">
          <a class="btn-topmenu-close d-lg-none" href="javascript:void(0)"><i class="fa fa-times"
              aria-hidden="true"></i></a>
          <ul>
            <li routerLinkActive="current-menu-item"><a [routerLink]="['/live-auctions']" routerLinkActive="active">LIVE AUCTIONS</a></li>
            <li><a href="#">DIY AUCTIONS</a></li>
            <li *ngIf="!buyerId" routerLinkActive="current-menu-item"><a [routerLink]="['/login']" routerLinkActive="active">BUYERS</a></li>
             <li *ngIf="buyerId" routerLinkActive="current-menu-item"><a [routerLink]="['/user/dashboard']" routerLinkActive="active" title="Buyer Dashboard">Dashboard</a></li>
            <li *ngIf="!sellerId" routerLinkActive="current-menu-item"><a [routerLink]="['/seller-login']" routerLinkActive="active">sell with us</a></li>
            <li *ngIf="sellerId" routerLinkActive="current-menu-item"><a [routerLink]="['/seller/dashboard']" routerLinkActive="active">seller Dashboard</a></li>

            <li><a href="#">PAST AUCTIONS</a></li>
            <li routerLinkActive="current-menu-item"><a [routerLink]="['/faq']" routerLinkActive="active">FAQ</a></li>
            <li routerLinkActive="current-menu-item"><a [routerLink]="['/contact-us']" routerLinkActive="active">CONTACT</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>